#app {
}

/* Header */
#header {
    height: var(--height-brand-name);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--nav-color);
    padding: 0 3% 0 3%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__brand {
    height: var(--height-brand-name);
    display: flex;
    align-items: center;
}

#header__search-form {
    width: 50%;
    display: flex;
}

#header__search-form .btn {
    padding: 0 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--border-color);
}

#header__search-form .btn:hover {
    background-color: var(--text-color-third);
}

.search__container {
    width: 100%;
}

.search__container input {
    outline: none;
    background-color: var(--search-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    height: 35px;
    font-size: 1.5rem;
    padding-left: 16px;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search__container input:focus {
    border-color: var(--main-color);
}

.header__other {
    display: flex;
}

.header__account,
.header__notify {
    padding: 10px;
    cursor: pointer;
}

.header__account i,
.header__notify i {
    font-size: 3rem;
}

/* Sidebar */
#sidebar {
    width: 280px;
    height: 100vh;
    background-color: var(--nav-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: width linear 0.2s;
    overflow: hidden;
    z-index: 1;
}

#sidebar.small {
    width: var(--sidebar-width-small);
}

#sidebar.small .sidebar__brand {
    padding: 0;
    justify-content: center;
}

#sidebar.small .brand__name {
    display: none;
}

#sidebar.small .sidebar-element__list > li {
    height: 60px;
}

#sidebar.small .sidebar-element__list > li a {
    padding-left: 0;
    justify-content: center;
}

#sidebar.small .sidebar-element__list > li span {
    display: none;
}

#sidebar.small .sidebar-element__list > li i {
    font-size: 3rem;
}

.sidebar__brand {
    height: var(--height-brand-name);
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.header__brand i {
    padding: 10px;
    display: none;
}

.header__brand i,
.sidebar__brand i {
    font-size: 3.2rem;
    cursor: pointer;
}

.brand__name {
    color: var(--main-color);
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Allura", cursive;
    padding-left: 30px;
}

.sidebar__body {
    overflow-y: auto;
    height: calc(100% - var(--height-brand-name));
    padding: 0 0 20px;
}

.sidebar__body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--nav-color);
}

.sidebar__body::-webkit-scrollbar-track {
    background-color: var(--nav-color);
}

.sidebar__body::-webkit-scrollbar-thumb {
    background-color: var(--nav-color);
}

.sidebar__body:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--nav-color);
    background-color: var(--scroll-thumb);
}

.sidebar-body__element {
}

.sidebar-element__title {
    font-size: 1.8rem;
    text-transform: capitalize;
    padding: 0 30px;
    margin: 40px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-playlist {
    font-size: 1.2rem;
}

.sidebar-element__list {
}

.sidebar-element__list > li {
    height: 44px;
    border-left: 2px solid transparent;
    transition: background-color linear 0.2s;
}

.sidebar-element__list > li a {
    padding-left: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar-element__list i {
    font-size: 2.4rem;
}

.sidebar-element__list span {
    font-size: 1.6rem;
    text-transform: capitalize;
    padding-left: 30px;
    white-space: nowrap;
}

.sidebar-element__list > li.active {
    background-color: var(--nav-element-active);
}

.sidebar-element__list > li.active i,
.sidebar-element__list > li.active span {
    color: var(--main-color);
}

.sidebar-element__list > li:hover {
    background-color: var(--nav-element-active);
}

.sidebar-element__list > li:hover i,
.sidebar-element__list > li:hover span {
    color: var(--main-color);
}

/* Content */
#content {
    margin-top: 56px;
    overflow: hidden;
}

.content__slide {
}

.content__slide-list {
    position: relative;
    display: flex;
    transform: translateX(-100%);
    cursor: grab;
}

.content__slide-list.animation {
    transition: transform linear 0.2s;
}

.content__slide-list.animation.stop {
    transition-duration: 0s;
}

.slide-list__item {
    width: 100%;
    flex-shrink: 0;
}

.slide-item__info {
    position: absolute;
    bottom: 20%;
    left: calc(var(--sidebar-width-small) + calc(3% + 14px));
    width: 60%;
}

.slide-item__name-film-vie,
.slide-item__name-film {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--text-color);
    text-transform: uppercase;
}

.slide-item__name-film-vie {
    font-size: 2.8rem;
    text-transform: capitalize;
}

.slide-item__score-genres {
    margin-bottom: 16px;
    display: flex;
}

.slide-item__score-genres > span {
    display: flex;
    align-items: center;
}

.slide-item__score-genres i {
    font-size: 2rem;
    padding-right: 4px;
}

.slide-item__score-genres span {
    font-size: 1.5rem;
    margin-right: 16px;
    text-transform: capitalize;
    color: var(--text-color-third);
}

.slide-item__score-genres
    > span:hover:not(:first-child, :nth-child(2), :nth-child(3)) {
    text-decoration: underline;
    cursor: pointer;
    color: var(--text-color);
}

.slide-item__description {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 300;
    color: var(--text-color-second);
    margin-bottom: 16px;
}

.slide-item__btn {
}

.content__slide-pick {
    padding: 0 calc(3% + 14px) 0
        calc(var(--sidebar-width-small) + calc(3% + 14px));
    position: relative;
    top: -80px;
}

.slide-pick__item {
    /* width: 80px; */
    cursor: pointer;
}

.slide-pick__item.picked {
    border: 2px solid var(--main-color);
}

/* .slide-pick__item + .slide-pick__item {
    margin-left: 16px;
} */

/* Popup trailer */
.modal-body__video-popup {
    position: relative;
    margin: auto;
    width: 50%;
    display: none;
}

.modal-body__video-popup.show {
    display: block;
}

.modal-body__video-popup .btn {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color-four);
    border: 3px solid var(--text-color-four);
}


/* List movie */
.content__list-movie {
    width: 100%;
    margin-bottom: 100px;
}

.content-list-movie__title {
    margin-bottom: 24px;
    padding: 0 calc(3% + 14px) 0
        calc(var(--sidebar-width-small) + calc(3% + 14px));
}

.content-list-movie__name {
    font-size: 2.4rem;
    text-transform: capitalize;
}

.content-list-movie__slide {
    position: relative;
    padding: 0 calc(3% + 14px);
    margin-left: var(--sidebar-width-small);
}

.btn__prev,
.btn__next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(3% + 14px);
    height: 100%;
    z-index: 1;
    background-color: rgba(17, 17, 17, 0.7);
}

.btn__prev {
    left: 0;
}

.btn__prev > i,
.btn__next > i {
    font-size: 3.6rem;
}

.list-movie__slide-item {
    width: 100%;
    position: relative;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.list-movie__slide-item.show .movie-slide__play {
    display: flex;
}

.list-movie__slide-item.show .btn {
    display: inline-flex;
}

.movie-slide__play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.5);
    z-index: 1;
    display: none;
}

.movie-slide__play .btn {
    margin: auto;
    font-size: 4rem;
    border-radius: 50%;
    padding: 30px;
    border-width: 2px;
    opacity: 0.6;
    transition: opacity linear 0.2s;
}

.movie-slide__play .btn:hover {
    opacity: 1;
}

.movie-slide__feature {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.movie-slide__feature .btn {
    display: none;
}

.movie-slide__feature .btn i {
    font-size: 3rem;
}

.movie-slide__info {
    position: absolute;
    bottom: 2%;
    left: 4%;
    right: 4%;
    width: 100%;
}

.movie-slide__name {
    
}

.movie-slide__name-eng {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize;
}

.movie-slide__name-vie {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 4px;
}

.movie-slide__category-time {
    margin-top: 4px;
}

.movie-slide__category-time span {
    display: inline-flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin-right: 10px;
}

.movie-slide__category-time i {
    margin-right: 4px;
    font-size: 2rem;
}

.list-movie__slide-item.aniScale:hover {
    transform: scale(1.4);
}

.list-movie__slide-item.aniScale.first:hover {
    transform: translateX(20%) scale(1.4);
}

.list-movie__slide-item.aniScale.last:hover {
    transform: translateX(-20%) scale(1.4);
}

.list-movie__slide-item.aniTranslateHalfLeft {
    transform: translateX(-20%);
}

.list-movie__slide-item.aniTranslateHalfRight {
    transform: translateX(20%);
}

.list-movie__slide-item.aniTranslateRight {
    transform: translateX(40%);
}
.list-movie__slide-item.aniTranslateLeft {
    transform: translateX(-40%);
}
