:root {
  /* --primary-color: rgb(229, 9, 20); */
  --red-color:#e71d36;
  --green-color: #03cea4;
  --yellow-color:#ffff00;
  --primary-color: #46e1ff;
  --primary-color-sc: #111111;
  --primary-color-scc: #181818;
  --primary-color-th: #212121;
  --primary-color-fr: #383838;
  --primary-color-fn: rgba(20, 20, 20, 0.8);
  --primary-color-sx: rgba(20, 20, 20, 0.6);
  --primary-color-sv: rgba(20, 20, 20, 0.5);
  --text-color: #a1a19b;
  --text-color-sc: #d2d2d2;
  --white-color: #fff;
  --white-color-sc: rgb(255, 255, 255, 0.4);
  --black-color: #000;
  --color-start: #15151500;
  --color-end: #151515;
  --hover-color: #2f2f2f;
  --hover-color-sc: rgb(47, 47, 47, 0.3);
  --hover-color-th: #141414;
  --vip-color: #da9e1c;
  --auth-color: #333333;
  --nav-color: #101010;
}

.light {
  
}

* {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--primary-color-sc);
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  outline: none;
  color: var(--white-color);
  background-color: transparent;
  cursor: pointer;
  padding: 9px 32px;
  min-width: 120px;
  transition: filter 0.2s;
  border-radius: 0px;
}

.btn--size-s {
  height: 36px;
  font-size: 12px;
  padding: 0 16px;
}

.button.btn--normal {
  color: var(--white-color);
  border: 1px solid var(--white-color);
}

.button.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.button:hover {
  filter: brightness(70%);
}

.button + .button {
  margin-left: 16px;
}

.button i,
.button span {
  margin: 0 5px;
}
.btn-icon {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--white-color);
  font-size: 2rem;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: var(--white-color);
  transition: 0.2s;
}

/*aspect ratio 16:9*/
.ratio16-9__wrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.ratioImg__wrap {
  position: relative;
  width: 100%;
  padding-bottom: 59.25%;
}

.ratio__in {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes growth {
  from {
    transform: scale(0.64);
  }
  to {
    transform: scale(1);
  }
}

@keyframes growth-th {
  from {
    transform: scale(var(--growF));
  }
  to {
    transform: scale(1);
  }
}

@keyframes growth-sc {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes ZoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(var(--scale));
  }
}

@keyframes ZoomOut-sc {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.65);
  }
}

.imgActive {
  animation: fadeOut linear 0.5s 2s;
}

.imgActiveHv {
  animation: fadeOut linear 0.5s 1s;
}

.imgActiveSc {
  animation: fadeOut linear 0.5s;
}

/* Hover phim */
.hover-movie {
  width: 400px;
  background-color: var(--hover-color-th);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  position: absolute;
  z-index: 20;
  top: 0;
  /* border-radius: 6px; */
}

.hover-movie-link {
  display: block;
}

.hover-movie__img,
#hover-movie__video {
  /* border-top-left-radius: 6px; */
  /* border-top-right-radius: 6px; */
}

#hover-movie__video {
  display: none;
}

.hover-movie-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    var(--color-start) 0,
    var(--color-end) 100%
  );
  z-index: 20;
}

.hover-movie__video-name {
  position: absolute;
  width: 180px;
  top: 130px;
  left: 10px;
  z-index: 21;
  display: none;
}

.hover-movie__btn {
}

.btn-icon.hover-movie-btn-i {
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 21;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  display: none;
  color: var(--white-color-sc);
  border: 2px solid var(--white-color-sc);
}

.btn-icon.hover-movie-btn-i:hover {
  border-color: var(--white-color);
  color: var(--white-color);
}

.hover-movie__button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 10px 0 0 0;
}

.hover-movie__button > .button {
  height: 40px;
  padding: 12px 0;
  margin: 0;
}

.button.hover-movie__button--remind,
.button.hover-movie__button--play {
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: 500;
}

.button.hover-movie__button--add-removeList,
.button.hover-movie__button--moreinfo {
  border: 1px solid var(--white-color);
}

button.hover-movie__button--remind {
  width: 185px;
}

.button.hover-movie__button--moreinfo.remind {
  width: 185px;
}

.hover-movie__button > .button > i {
  font-size: 2.2rem;
}

.hover-movie__button > .button > span {
  font-size: 1.5rem;
}

.hover-movie__info {
  padding: 0px 10px;
}

.hm_info {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  margin: 10px 10px 20px 0;
  font-weight: 500;
}

.hm_info + .hm_info::before {
  content: "\2022";
  display: inline-block;
  font-size: 12px;
  color: var(--white-color);
  padding-right: 13px;
}
/* Modal box*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: fadeIn linear 0.2s;
  z-index: 200;
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color-sx);
}

.modal__body {
  width: 100%;
  /* height: 100%; */
  margin: auto;
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* display: flex; */
}

/* Authen modal */
.auth-form {
  margin: auto;
  width: 450px;
  max-width: 100%;
  /* border-radius: 4px; */
  background-color: var(--auth-color);
  /* overflow: hidden; */
  border-top: 3px solid var(--primary-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: none;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--white-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 1.4rem;
  border-radius: 0px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-color);
  background-color: transparent;
  transition: 0.35s;
  color: var(--white-color);
}

.auth-form__input:focus {
  border-color: var(--white-color);
}

.auth-form__aside {
  margin-top: 20px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
  color: var(--white-color);
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.auth-form__controls {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: transparent;
  margin-top: 24px;
  padding: 12px 33px;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.auth-form__socials--google {
  color: var(--text-color);
  background-color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 12px 0 25px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
  font-weight: 500;
}

.auth-form__help-separate {
  display: block;
  border-left: 1px solid #eaeaea;
  margin: 0 16px;
  height: 22px;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Modal movies */
.modal-movie {
  margin: 3rem auto 0;
  width: 1024px;
  max-width: 100%;
  background-color: var(--primary-color-sc);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 30px;
  display: none;
  animation: growth linear 0.2s;
  transform-origin: top;
}

.modal-turnoff.fas.fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.4rem;
  color: var(--white-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--primary-color-sv);
  z-index: 205;
  text-align: center;
  line-height: 35px;
}

.modal-turnoff.fas.fa-times:hover {
  cursor: pointer;
  background-color: var(--primary-color-sc);
}

.modal-movie__header {
  position: relative;
}

.hover-movie-link.modal-movie-link {
  display: block;
  height: auto;
}

.modal-movie__img,
#modal-movie__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal-movie__video {
  display: none;
}

.header-movie__content {
  position: absolute;
  left: 0;
  bottom: 7%;
  z-index: 205;
}

.modal-movie__video-name {
  width: 50%;
  padding-left: 3%;
}

.modal-movie__button {
  display: flex;
  padding-left: 3%;
  padding-top: 4%;
  align-items: center;
}

.button.modal-movie__button--remind,
.button.modal-movie__button--play {
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: bold;
}

.button.modal-movie__button--add-remove {
  border: 1px solid var(--white-color);
  background-color: var(--primary-color-sv);
  padding: 7px 24px;
}

.modal-movie__button > .button > i {
  font-size: 2.8rem;
}

.modal-movie__button > .button > span {
  font-size: 1.6rem;
}

.header-movie__btn {
}

.btn-icon.header-movie-btn-i {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  position: absolute;
  right: 30px;
  bottom: 5%;
  display: none;
  z-index: 205;
  color: var(--white-color-sc);
  border: 2px solid var(--white-color-sc);
}

.btn-icon.header-movie-btn-i:hover {
  border-color: var(--white-color);
  color: var(--white-color);
}

.modal-video-content {
  padding: 2% 0;
}

.modal-video__info {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.modal-video__info-left {
  font-size: 14px;
  color: var(--white-color);
  width: 55%;
}

.info-left__first {
  display: flex;
}

.info__views {
  margin-right: 20px;
  margin-bottom: 20px;
}

.info__point-vote {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info__point {
  margin-right: 8px;
}

.info__vote {
}

.info__vote > i {
  color: var(--vip-color);
  cursor: pointer;
}

.info-left__second {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.info-left__second > span:first-child {
  padding-right: 6px;
}

.info-left__second > span + span::before {
  content: "\2022";
  display: inline-block;
  font-size: 12px;
  color: var(--white-color);
  padding-right: 9px;
}

.info-left__second > span{
  padding-right: 9px;
}

.info-left__main {
  margin: 0;
  line-height: 2rem;
}

.modal-video__info-right {
  width: 35%;
  font-size: 1.4rem;
  color: var(--white-color);
}

.info-right__first {
  display: flex;
  color: var(--white-color);
  font-size: 1.4rem;
}

.info-right-share,
.info-right-comment {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: center;
  color: var(--white-color);
  text-decoration: none;
  text-align: center;
}

.info-right__first i {
  font-size: 3rem;
  padding-bottom: 10px;
}

.info-right__actors {
  margin-top: 15px;
}

.info-right-group {
  color: var(--text-color);
  font-size: 1.4rem;
}

.info-right-link {
  color: var(--white-color);
  text-decoration: none;
  line-height: 2rem;
  font-size: 1.4rem;
}

.info-right-link:hover {
  text-decoration: underline;
}

.info-right__directors {
  margin: 5px 0;
}

.info-right__genres {
}

.modal-video__recommend {
  margin: 60px 0;
}

.modal-recommend__header {
}

.modal-recommend__header > span {
  display: inline-block;
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 25px;
  padding-left: 3%;
}

#recommendMovies {
  overflow-x: auto;
  position: relative;
}

#recommendMovies::-webkit-scrollbar {
  display: none;
}

.modal-recommend__container-sc {
  display: flex;
}

.modal-recommend__container-sc::before {
  content: "";
  display: inline;
  padding-left: 3%;
}

.modal-recommend__container-sc::after {
  content: "";
  display: inline;
  padding-right: calc(3% - 6px);
}

.modal-recommend__img-link {
  margin-right: 6px;
  flex-shrink: 0;
  width: 23%;
  background-color: var(--hover-color-th);
}

.modal-recommend__wrap {
  position: relative;
  /* border-radius: 4px; */
  transition: 0.35s;
}

.modal-recommend__wrap-img {
  position: relative;
  /* border-radius: 4px; */
  padding-bottom: 141.25%;
  overflow: hidden;
}

.modal-video__recommend .modal-recommend__wrap-img::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 1;
}

.modal-video__recommend .modal-recommend__wrap-img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20%;
  background:rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modal-recommend__wrap:hover .modal-recommend__link {
  opacity: 1;
  background-color: var(--hover-color-sc);
}

.modal-recommend__wrap:hover .modal-recommend__img {
  transform: scale(1.2);
}

.modal-recommend__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.35s;
  z-index: 2;
}

.modal-recommend__link > i {
  font-size: 1.5rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: var(--primary-color-sv);
  border-radius: 50%;
  border: 2px solid var(--white-color);
}

.modal-recommend__link > i::before {
  margin-left: 2.5px;
}

.modal-recommend__img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  transition: transform 0.3s linear;
}

.recommend-movies__info {
}

.recommend-movies__info-first {
  font-size: 1.4rem;
  color: var(--white-color);
  margin: 5px 0;
}

.recommend-movies__info-first > span + span::before {
  content: "\2022";
  display: inline-block;
  font-size: 12px;
  color: var(--white-color);
  padding-right: 8px;
}

.recommend-movies__info-first > span:first-child {
  padding-right: 5px;
}

.recommend-movies__info-first > span:last-child {
  padding-left: 5px;
}

.recommend-movies__info > span {
  font-size: 1.3rem;
  color: var(--text-color-sc);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-height: 1.6rem;
  color: var(--text-color);
}

#modal__comment {
  padding: 0px 3% 40px;
}

#modal__comment .comment-title {
  display: block;
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.formComment {
  margin: 0 0% 0 2%;
}

.myformComment {
  display: flex;
}

.myAvatar {
  color: var(--white-color);
  font-size: 3rem;
  margin: 0 15px 0 0;
}

.field {
  flex: 1;
}

#commentArea {
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  font-size: 1.4rem;
  background-color: transparent;
  color: var(--text-color);
  padding: 0 0 0 10px;
  margin-bottom: 10px;
  transition: all 0.35s;
  line-height: 1.6rem;
  position: relative;
}

#commentArea:focus {
  border-bottom: 1px solid var(--text-color);
}

.comment-list {
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.comment-other {
  display: flex;
  margin-top: 40px;
}

.comment-avatar {
}

.comment-avatar > i {
  font-size: 3rem;
  margin-right: 15px;
}

.comment-content {
  flex: 1;
  text-align: justify;
}

.comment-content > h4 {
  font-weight: 400;
  margin: 0;
}

.comment-content > p {
  color: var(--text-color);
  margin: 10px 0 0;
  line-height: 1.8rem;
}

.comment-time {
  width: 10%;
  margin-left: 3%;
  align-self: flex-end;
  color: var(--text-color);
  text-align: left;
  font-size: 1.2rem;
}

.modal__movies-episodes {
  margin: 60px 0;
}

.modal__movies-ep-first {
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.movies-ep-title {
  font-size: 2.4rem;
  color: var(--primary-color);
  font-weight: 500;
}

.movies-ep-season {
  position: relative;
}

#movie-btn-seasons {
  font-size: 1.8rem;
  color: var(--white-color);
  font-weight: 500;
  border: 1px solid var(--text-color);
  background-color: var(--primary-color-th);
  padding: 8px 18px;
  filter: brightness(100%) !important;
}

.season-icon {
  content: "";
  position: relative;
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(255, 255, 255);
  transition: transform 0.2s linear 0s;
  margin-left: 2.4rem;
}

.movies-menu-seasons {
  position: absolute;
  background-color: var(--primary-color-th);
  border: 1px solid var(--text-color);
  right: 0;
  padding: 10px 0;
  width: 200px;
  z-index: 3;
  max-height: 183px;
  overflow-y: auto;
  display: none;
}

.movies-menu-seasons::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.movies-menu-seasons::-webkit-scrollbar-track {
  background: var(--primary-color-scc);
}

/* Handle */
.movies-menu-seasons::-webkit-scrollbar-thumb {
  background: var(--primary-color-fr);
  border-radius: 8px;
}

/* Handle on hover */
.movies-menu-seasons::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

.movies-season {
  color: var(--white-color);
  list-style: none;
  padding: 12px 15px;
  margin: 0 1px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.movies-season:hover {
  background-color: var(--primary-color-fr);
  cursor: pointer;
}

.movies-season__name {
  font-size: 1.8rem;
  font-weight: 500;
}

.movies-season__ep {
  font-size: 1.4rem;
  padding-left: 15px;
}

#episodeMovie {
  overflow-x: auto;
  position: relative;
}

#episodeMovie::-webkit-scrollbar {
  display: none;
}

.modal-recommend__wrap-img.modal-episode__wrap-img {
  padding-bottom: 59.25%;
}

.episode-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white-color);
  line-height: 2rem;
}

.recommend-movies__info.episode__info .episode__description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
