/* Home */
/* Header */
.app {
  position: relative;
}

.header {
  position: relative;
}

.header::before {
  content: "";
  display: block;
  width: 100%;
  height: 58px;
  position: fixed;
  top: 0px;
  left: 0;
  background-image: linear-gradient(
    360deg,
    var(--color-start) 0,
    var(--color-end) 100%
  );
  z-index: 1;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 125px;
  position: absolute;
  bottom: 75px;
  left: 0;
  background-image: linear-gradient(
    180deg,
    var(--color-start) 0,
    var(--color-end) 100%
  );
  z-index: 1;
  display: none;
}

.header__video {
}

.header__video-img,
#myVideo {
}

#myVideo {
  display: none;
}

.header__video-content {
  position: absolute;
  left: 3%;
  /* top: 15%; */
  bottom: 35%; /*!Dùng bottom để ko bị đẩy xuống*/
  z-index: 4;
  width: 50%;
}

.header__video-name {
  width: 576px;
  transform-origin: bottom left;
  animation: ZoomOut-sc linear 1.3s 3s;
}

.header__video-info {
  color: var(--white-color);
  font-size: 1.6rem;
  line-height: 2rem;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-weight: 300;
}

.name-movie-vie,
.name-movie-eng {
  display: none;
}

.header__button {
  display: flex;
  align-items: center;
}

.button--play {
  color: var(--black-color);
  background-color: var(--white-color);
  position: relative;
  z-index: 1;
  font-weight: 600;
}

.button--play i {
  font-size: 2.8rem;
}

.button--play span {
  font-size: 1.6rem;
  font-weight: 500;
}

.button--moreinfo {
  padding: 7px 32px;
  border: 1px solid var(--white-color);
  background-color: var(--primary-color-sv);
}

.button--moreinfo i {
  font-size: 2.6rem;
  color: var(--white-color);
}

.button--moreinfo span {
  font-size: 1.6rem;
  color: var(--white-color);
}

.btn-icon.header-btn-i {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  position: absolute;
  right: 30px;
  bottom: 27%;
  display: none;
  z-index: 4;
  color: var(--white-color-sc);
  border: 2px solid var(--white-color-sc);
}

.btn-icon.header-btn-i:hover {
  border-color: var(--white-color);
  color: var(--white-color);
}

/* Navigation */
.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 50;
  position: fixed;
  top: 0;
  transition: background-color 0.4s;
}

/* Tablet nav */
.header__nav-bar-icon.fas {
  color: white;
  font-size: 2.4rem;
  display: none;
  margin-left: 30px;
}

.nav__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color-sx);
  display: none;
  animation: fadeIn linear 0.2s;
  z-index: 100;
}

.nav__tablet {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 320px;
  width: 100%;
  background-color: var(--primary-color-th);
  transform: translateX(-100%);
  opacity: 0;
  transition: all linear 0.2s;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 30px;
}

.nav__tablet-first {
  height: 58px;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  align-items: center;
}

.nav__tablet-first .fas {
  width: 30px;
  margin: 0 25px;
  padding: 10px;
  font-size: 2.8rem;
  color: var(--white-color);
  cursor: pointer;
}

.nav__tablet-items {
  padding: 0;
  list-style: none;
}

.nav__tablet-item {
  width: 300px;
  line-height: 48px;
  transition: background-color 0.4s;
}

.nav__tablet-item > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
}

.nav__tablet-item > div {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav__tablet-item .fas,
.nav__tablet-item .far {
  font-size: 2rem;
  color: var(--text-color);
}

.nav__tablet-icon {
  display: flex;
  width: 30px;
  margin: 0 30px;
  align-items: center;
  justify-content: center;
}

.nav__tablet-item-info {
  font-size: 1.5rem;
  color: var(--text-color);
}

.nav__tablet-item:hover {
  background-color: var(--primary-color-fr);
  cursor: pointer;
}

.nav__tablet-item.nav__tablet-item--active {
  cursor: default;
  background-color: var(--primary-color-fr) !important;
}

.nav__tablet-item.nav__tablet-item--active > a {
  cursor: default;
}

.nav__tablet-item.nav__tablet-item--active i {
  color: var(--white-color) !important;
}

.nav__tablet-item.nav__tablet-item--active span {
  color: var(--white-color) !important;
}

#nav-tablet-input {
  display: none;
}

#nav-tablet-input:checked ~ .nav__overlay {
  display: block;
}

#nav-tablet-input:checked ~ .nav__tablet {
  transform: translateX(0);
  opacity: 1;
}

/* Mobile nav */
.nav-mobile {
  display: none;
  height: 30px;
  width: 100%;
  line-height: 30px;
}

.nav-mobile-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 30px;
  overflow-x: auto;
  width: 100%;
  justify-content: flex-start;
  cursor: -webkit-grabbing;
}

.nav-mobile-menu::-webkit-scrollbar {
  display: none;
}

/*PC nav*/
.nav-pc {
  display: flex;
  align-items: center;
  width: 100%;
  height: 58px;
  padding: 0 2%;
}

.header__first-nav {
  display: flex;
  width: 70%;
  align-items: center;
}

.header__brand-name {
  text-decoration: none;
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Allura", cursive;
  padding: 10px 0 10px 10px;
  margin-left: 10px;
}

.header__nav-menu-res {
  width: 80%;
}

.header__nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header__tap {
  transition: all 0.2s;
  opacity: 0.6;
  cursor: pointer;
  height: 100%;
  position: relative;
}

#genres:hover .genres-sub-nav {
  display: flex;
}

.genres-icon.fas {
  color: var(--white-color);
  font-size: 1.4rem;
  position: relative;
  top: -2px;
}

.genres-sub-nav {
  position: absolute;
  background-color: var(--primary-color-fn);
  z-index: 52;
  width: 510px;
  top: 37px;
  display: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  animation: growth-sc linear 0.3s;
  transform-origin: left 10%;
  border-top: 3px solid var(--primary-color);
}

.genres-sub-nav::before {
  content: "";
  display: block;
  border-width: 20px 40px;
  border-style: solid;
  border-color: transparent transparent var(--primary-color) transparent;
  position: absolute;
  z-index: 53;
  top: -42px;
}

.genres-items {
  list-style: none;
  padding: 0;
  display: flex;
}

.genre-item {
  margin: 5px;
}

.genre-item-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--white-color);
  padding: 12px;
  margin: 3px 0;
  display: block;
}

.genre-item-link:hover {
  text-decoration: underline;
}

.header__tap-link {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 10px 0;
}

/* #genres::after {
  content: "";
  position: relative;
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(255, 255, 255);
  transition: transform 0.2s linear 0s;
  margin-left: 2px;
  margin-bottom: 2px;
}

#genres:hover::after {
  transform: rotate(180deg);
} */

.header__tap:hover {
  opacity: 1;
}

.header__tap.header__tap--active {
  opacity: 1 !important;
}

.header__tap.header__tap--active > a {
  cursor: default !important;
}

.header__second-nav {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}

.buy-vip {
}

.buy-vip-link {
  font-size: 1.6rem;
  color: var(--white-color);
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  line-height: 30px;
}

.header__search {
  position: relative;
}

#search-wrap {
  position: absolute;
  align-items: center;
  top: 4px;
  right: 12px;
  display: none;
  transform-origin: right;
  animation: growth ease-out 0.2s;
  z-index: 1;
}

#search-wrap > button {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
}

#searchForm {
  display: flex;
  background-color: var(--primary-color-sc);
  border: 1px solid var(--text-color);
}

#icon-search {
  background-color: transparent;
  outline: none;
  border: none;
}

#btn-search-delete,
#btn-search {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--white-color);
  font-size: 2rem;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}

#btn-search-delete {
  font-size: 1.6rem;
  visibility: hidden;
}

input[name="searchIp"] {
  width: 250px;
  height: 30px;
  line-height: 30px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background-color: var(--primary-color-sc);
  color: var(--white-color);
}

.header__notify {
}

.header__toggle,
.header__account {
  position: relative;
}

.header__account:hover .signIn-register {
  display: block;
}

.signIn-register {
  position: absolute;
  display: block;
  right: 0;
  background-color: var(--primary-color-sc);
  padding: 10px;
  width: 156px;
  transform-origin: right 10%;
  animation: growth-sc linear 0.2s;
  z-index: 1;
  border-top: 3px solid var(--primary-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: none;
}

.button.btn-account__register,
.button.btn-account__signIn {
  border: 1px solid var(--text-color);
  font-size: 1.4rem;
  margin: 0;
  min-width: 135px;
}

.button.btn-account__signIn {
  margin-top: 10px;
}

#btn-search > i {
  margin: 0;
}

.header-setting:hover .toggle-setting {
  display: block;
}

.toggle-setting {
  position: absolute;
  right: 3%;
  transform-origin: right 10%;
  animation: growth-sc linear 0.2s;
  z-index: 1;
  background-color: var(--primary-color-sc);
  border-top: 3px solid var(--primary-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 5px 0;
  width: 170px;
  display: none;
}

#toggle-lightmode,
#toggle-display {
  font-size: 1.4rem;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-setting > div + div {
  margin-top: 10px;
}

.btn-toggle-lightmode,
.btn-toggle-display {
  display: block;
  height: 20px;
  width: 40px;
  background-color: var(--white-color-sc);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.btn-toggle-lightmode::after,
.btn-toggle-display::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: left linear 0.2s;
}

.btn-toggle-lightmode.active::after,
.btn-toggle-display.active::before {
  left: 50%;
}

.content {
  position: relative;
  top: -70px;
  z-index: 5;
  background-color: var(--primary-color-sc);
}

/* Main */
.main {
  position: relative;
  top: -125px;
  z-index: 6;
  /* border-bottom: 1px solid var(--text-color); */
  padding-bottom: 60px;
}

.main::after {
  content: "";
  display: block;
  width: 100%;
  height: 125px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    var(--color-start) 0,
    var(--color-end) 100%
  );
  z-index: -1;
}

.main__row {
  margin-bottom: 30px;
  position: relative;
}

.row__header {
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
}

.main__row:hover .row__view-all {
  opacity: 1;
  transform: translateX(0);
}

.row__header-link {
  text-decoration: none;
  margin: 15px 0;
}

.row__title {
  font-size: 2.4rem;
  color: var(--primary-color);
  display: inline-block;
  margin: 5px 0;
  font-weight: 500;
}

.row__view-all {
  font-size: 1.5rem;
  color: var(--white-color);
  padding: 0 0 0 20px;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s;
  display: inline-block;
}

.row__container {
  overflow-x: auto;
  width: 100%;
  position: relative;
}

.row__container-sc {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all linear 0.5s;
}

.row__container-sc::before {
  content: "";
  display: inline-block;
  padding-left: 3%;
}

.row__container-sc::after {
  content: "";
  display: inline-block;
  padding-right: calc(3% - 6px);
}

#genresRow.row__container-sc::after,
#genresRow.row__container-sc::before,
#search.row__container-sc::after,
#search.row__container-sc::before,
#myList.row__container-sc::after,
#myList.row__container-sc::before {
  content: none;
  display: none;
}

.row__container::-webkit-scrollbar {
  display: none;
}

.row__img-link {
  flex-shrink: 0;
  margin-right: 6px;
  width: 18.4%;
  cursor: pointer;
  position: relative;
}

/*! Note */
/* .row__img-link:first-child {
  margin-left: 3%;
} */

.row__wrap {
  width: 100%;
  position: relative;
}

.movies-vip {
  position: absolute;
  left: 0.3%;
  top: 6.05%;
  width: 15%;
}

.row__wrap > a {
  height: 100%;
  display: block;
}

.row__wrap-rank {
  position: relative;
  padding-bottom: 80%;
}

.row__img-rank {
  position: absolute;
  bottom: 0;
  left: -2%;
  width: 55%;
}

.row__img {
  border-radius: 4px;
  width: 100%;
}

.light .row__name {
  filter: brightness(100%);
}

.row__name {
  /* position: absolute;
  bottom: 0%;
  left: 0;
  right: 0%;
  z-index: 13; */
  /* filter: brightness(80%); */
  display: block;
}

.row__name.disable {
  display: none;
}

.row__name > span {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 2px 0;
  color: var(--white-color);
  display: block;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  line-height: 2.7rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.row__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row__detail-left > span {
  font-size: 1.4rem;
  color: var(--genres-color);
}

.row__detail-left > span + span::before {
  content: "\2022";
  display: inline-block;
  font-size: 12px;
  color: var(--genres-color);
  padding-right: 7px;
  padding-left: 3px;
}

span.btn-genres {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 2.0rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0 3px;
  color: var(--genres-color);
  margin-right: 10px;
}

/* .row__name-vip {
    to right,
    var(--yellow-color),
    rgba(70, 225, 255, 0)
  );
}

.row__name-movies {
  background: linear-gradient(
    to right,
    var(--green-color),
    rgba(70, 225, 255, 0)
  );
}

.row__name-tvshow {
  background: linear-gradient(
    to right,
    var(--red-color),
    rgba(70, 225, 255, 0)
  );
} */

.row__img-rank-sc {
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: 40%;
  object-fit: cover;
}

.btn-icon.row__item-back {
  position: absolute;
  left: 0;
  height: 100%;
  width: 3%;
  min-width: 30px;
  background-color: rgb(0 0 0 / 60%);
  margin: 0;
  font-size: 3.8rem;
  color: var(--white-color);
  transform: translateX(-100%);
  z-index: 10;
  transition: transform 0.2s;
  display: none;
}

.row__item-back::before,
.row__item-next::before {
  transition: scale linear 1s;
}

.row__item-back:hover::before,
.row__item-next:hover::before {
  transform: scale(1.2);
}

.btn-icon.row__item-next {
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
  right: 0;
  height: 100%;
  width: 3%;
  min-width: 30px;
  font-size: 3.8rem;
  margin: 0;
  color: var(--white-color);
  transform: translateX(100%);
  z-index: 10;
  transition: transform 0.2s;
  display: none;
}

.footer {
  margin: 0 20%;
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.footer__social {
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  font-size: 2.8rem;
  color: var(--text-color);
  margin: 0 15px;
}

.footer__email-phone {
  font-size: 1.4rem;
  color: var(--text-color);
  margin: 15px 15px 15px;
}

.footer__other {
}

.footer__title {
  font-size: 2rem;
  color: var(--text-color);
  padding: 15px 15px 0;
  margin: 0 0 20px;
  font-weight: 400;
}

.footer__other-info {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  margin: 15px 15px 0;
}

.footer__other-info:hover {
  text-decoration: underline;
}
/* My List */
.content-mylist {
  position: relative;
  top: 215px;
  background-color: var(--primary-color-sc);
}

.row__header-general {
  margin: 15px 0;
}

.row__container-general {
  margin: 0 3%;
}

.row__container-sc-ge {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
  grid-row-gap: 60px;
}

.row__img-link-ge {
  width: 100%;
  position: relative;
}

.row__img-link-ge:first-child {
  margin-left: 0;
}

/* Popular */
.content-popular {
  position: relative;
  top: 230px;
  background-color: var(--primary-color-sc);
}

/* Account */

/* Watch */
.content-watch {
}

.watch-movie {
}

.watch-movie__header {
  position: relative;
  height: 100vh;
}

.ratio__in-watch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

#my-video-watch {
  width: 100%;
  height: 100%;
}

.header-watch.header::before {
  display: none;
}

#my-nav-watch {
  display: none;
  background-color: #101010;
}

.movie-name-watch {
  margin: 0 3%;
}

.img-name-watch {
  width: 30%;
}

.watch-video-content {
  margin: 2% 0 2% 0;
}

footer.footer__watch {
  position: static;
  bottom: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.modal-recommend__img-link.watch-link {
  width: 18.4%;
}

.modal-movies-vip {
  width: 30px;
  margin-right: 10px;
}

/* genres */
.filters-movies {
  margin: 0 3% 25px;
  display: flex;
  justify-content: flex-start;
}

.filter {
  position: relative;
}

.filter + .filter {
  margin-left: 10px;
}

button.dropdown-toggle {
  background-color: var(--btn-check-color);
  padding: 10px 15px;
  color: var(--genres-color);
  font-weight: 300;
}

.dropdown-toggle > i {
  color: var(--genres-color);
}

.filter-value {
  color: var(--label-color);
}

.dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 90%;
  background-color: var(--btn-check-color);
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  border-radius: 4px;
  padding: 10px 15px;
  display: none;
}

.dropdown-menu.size-genres {
  width: 300px;
}

.dropdown-menu.size-sort {
  width: 100%;
}

.dropdown-menu.size-loai {
  width: 100%;
}

.dropdown-menu.active {
  display: flex;
}

.dropdown-menu > li {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  transition: background-color 0.2s;
}

.dropdown-menu > li:hover {
  border-radius: 4px;
  background-color: var(--btn-check-hover);
}

.dropdown-menu > li:hover > label {
  color: var(--white-color);
}

.dropdown-menu.size-genres > li:nth-of-type(2n + 1) {
  width: 55%;
  margin-right: 7%;
}

.dropdown-menu.size-genres > li:nth-of-type(2n) {
  width: 38%;
}

.dropdown-menu.size-loai> li {
  width: 100%;
}

.dropdown-menu.size-sort> li {
  width: 100%;
}

.dropdown-menu > li > input {
  color: var(--genres-color);
  margin-left: 0;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.dropdown-menu > li > label {
  color: var(--label-color);
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
}
