@media (max-width: 519px) {
  /* Home */
  .row__img-link {
    width: 45%;
  }

  .footer__social {
    width: 100%;
    margin-bottom: 20px;
  }

  /* My list */
  .row__container-sc-ge {
    grid-template-columns: 1fr 1fr;
  }

  .row__img-link-ge {
    width: 97.5%;
  }

  /* Modal */
  .modal-recommend__img-link.watch-link,
  .modal-recommend__img-link {
    width: 45%;
  }

  .info-right__first {
    justify-content: space-between;
  }

  .info-right-share,
  .info-right-comment {
    margin: 0;
  }
}
@media (min-width: 520px) and (max-width: 739px) {
  /* Home */
  .row__img-link {
    width: 30%;
  }

  .footer__social {
    width: 60%;
    margin-bottom: 20px;
  }

  /* My list */
  .row__container-sc-ge {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .row__img-link-ge {
    width: 97.5%;
  }

  /* Modal */
  .modal-recommend__img-link.watch-link,
  .modal-recommend__img-link {
    width: 30%;
  }
}
/* Phone */
@media (max-width: 739px) {
  /* Home */
  .header::before {
    height: 30px;
    top: 54px;
    position: absolute;
  }

  .header-watch.header::after {
    display: none;
  }

  .header::after {
    bottom: -56px;
    display: block;
  }

  .header__video-img {
    top: 55px;
  }

  #myVideo {
    top: 55px;
  }

  .header__video-content {
    width: 93%;
    top: 80%;
  }

  .header__video-info {
    -webkit-line-clamp: 2;
  }

  .content {
    top: 325px;
  }

  .btn-icon.header-btn-i {
    right: 15px;
    top: 95%;
  }

  .button.button--play {
    padding: 9px 16px;
  }

  .button.button--moreinfo {
    padding: 6px 16px;
  }

  .header__video-name {
    width: 300px;
    margin: 0;
  }

  .header__nav {
    display: block;
  }

  .header__tap {
    flex-shrink: 0;
    margin-left: 15px;
  }

  li.header__tap:last-child {
    padding-right: 20px;
  }

  .header__tap-link {
    line-height: 100%;
    padding: 0 10px;
    height: 30px;
    display: block;
    line-height: 30px;
  }

  .nav-mobile {
    display: block;
  }

  .header__nav-menu-res {
    display: none;
  }

  .header__first-nav {
    width: 20%;
  }

  .header__second-nav {
    width: 80%;
  }

  input[name="searchIp"] {
    flex-grow: 1;
    width: 0;
  }

  #search-wrap {
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0px;
    background-color: var(--primary-color-sc);
    height: 58px;
    padding-right: 12px;
  }

  #searchForm {
    width: 100%;
  }

  #search-wrap > button {
    display: block;
  }

  .main__row {
    margin-bottom: 20px;
  }

  .row__title {
    line-height: 2rem;
    font-size: 2rem;
  }

  .footer {
    margin: 3%;
    bottom: 85px;
    flex-wrap: wrap;
  }

  /* My List */
  .row__container-mylist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .buy-vip {
    display: none;
  }

  /* Modal movies */
  .info-left__first {
    flex-wrap: wrap;
  }

  .header-movie__content {
    bottom: -20%;
  }
  
  .modal-video-content {
    padding: 20% 0;
  }

  .modal-movie {
    margin: 0;
    border-radius: 0;
  }

  .modal-movie__img,
  #modal-movie__video {
    border-radius: 0;
  }

  .button.modal-movie__button--play {
    padding: 9px 16px;
  }

  .button.modal-movie__button--addlist {
    padding: 6px 16px;
  }

  /* Watch */
  .footer.footer__watch {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 3%;
  margin-right: 3%;
  }
}
/* Mobile - Tablet */
@media (max-width: 1024px) {
  .watch-movie__header {
    height: auto;
    padding-bottom: 56%;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
  /* Home */
  .header::after {
    bottom: 0px;
    display: block;
  }

  .header__nav-menu-res {
    display: none;
  }
  .header__nav-bar-icon.fas {
    display: inline-block !important;
    cursor: pointer;
  }

  .header__first-nav {
    width: 20%;
  }

  .header__second-nav {
    width: 80%;
  }

  .header__video-content {
    /* top: 35px; */
    /* bottom: 30%; */
    width: 60%;
  }

  .header__video-name {
    width: 400px;
  }

  .content {
    top: 0;
  }

  .row__img-link {
    width: 23%;
    margin-right: 5px;
  }

  .footer {
    margin: 0 10%;
  }

  /* My List */
  .row__container-sc-ge {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row__img-link-ge {
    width: 97.5%;
  }

  /* Modal */
  .modal-recommend__img-link.watch-link {
    width: 23%;
  }
}

/* PC */
@media (min-width: 1025px) {

}
